---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout>
	<h1><span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> klink</span> Games List</h1>
	<div class="gamesList">
		<a class="gameCard" href="/games/bingo" >
			<img src="/img/bingo/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Bingo">Bingo</h3>
				<p>Classic Bingo with a twist. Complete challenges to get to the next ball, be the first to get a bingo and win a fun reward.</p>
			</div>
		</a>
		<a class="gameCard" href="/games/blackjack" >
			<img src="/img/blackjack/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Blackjack">Blackjack</h3>
				<p>Classic BlackJack with a twist. Bet on each hand, win to give out drinks, lose and have to take them!</p>
			</div>
		</a>
		<a class="gameCard" href="/games/ride-the-bus" >
			<img src="/img/ride-the-bus/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Ride The Bus">Ride The Bus</h3>
				<p>Go through 4 rounds of chance-based card games, win them all and give out plenty of drinks, lose them, and take them!</p>
			</div>
		</a>
		<a class="gameCard" href="/games/fifteen" >
			<img src="/img/fifteen/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Fifteen">Fifteen</h3>
				<p>Roll dice to get to the goal number, win big or lose big depending on how greedy you're feeling</p>
			</div>
		</a>
		<a class="gameCard" href="/games/balut" >
			<img src="/img/balut/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Balut">Balut</h3>
				<p>A simple dice game, roll hands and get a score. Win and give out drinks, lose and take them</p>
			</div>
		</a>
		<a class="gameCard" href="/games/rock-paper-scissors" data-astro-prefetch="hover">
			<img src="/img/rps/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Rock Paper Scissors">Rock Paper Scissors</h3>
				<p>The classic game of rock, paper, scissors, win and give out drinks, lose or tie and take them!</p>
			</div>
		</a>
		<a class="gameCard" href="/games/midnight" data-astro-prefetch="hover">
			<img src="/img/midnight/screenshot.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Midnight">Midnight</h3>
				<p>A dice game of chance, with a dash of quick-thinking, and strategizing</p>
			</div>
		</a>
		<a class="gameCard" href="#" data-astro-prefetch="hover">
			<img src="/img/coming-soon.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Scavengers">Scavengers</h3>
				<p>Hunt for things out in the world, each item gets you drinks. First one gets to give them out</p>
			</div>
		</a>
		<a class="gameCard" href="#" data-astro-prefetch="hover">
			<img src="/img/coming-soon.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Grambling">Grambling</h3>
				<p>A series of simple games where you bet your drinks. Win and give them out, lose and have to take them</p>
			</div>
		</a>
		<a class="gameCard" href="#" data-astro-prefetch="hover">
			<img src="/img/coming-soon.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="Trivia">Trivia</h3>
				<p>How much do you know about what you're drinking? Right answers get you more gifts to give out. Wrong ones give you consequences</p>
			</div>
		</a>

		<a class="gameCard" href="#" data-astro-prefetch="hover">
			<img src="/img/coming-soon.png" alt="" width="40%">
			<div class="gameInfo">
				<h3 transition:name="In it to win it">In it to win it</h3>
				<p>Play various bar bets to give out drinks to your friends, fail them and drink double what you bet</p>
			</div>
		</a>
	</div>
</Layout>

<style is:global>
	main{
		justify-content: flex-start !important;
	}
</style>
<style>
	.gamesList{
		width:70%;
		background: #141414;
		border-radius: 1.2rem;
		display: flex;
		justify-content: flex-start;
    	align-items: center;
		flex-direction: column;
		padding: 1.5rem;
		gap:20px;
		min-height: 80vh;
	}

	.gameCard{
		background: var(--background-color);
		padding:1.1rem;
		flex-basis: 80%;
		border-radius: 1.1rem;
		width: 80%;
		text-decoration: none;
		min-height:20vh;
		display:flex;
		flex-direction: row;
		gap: 20px;
		font-size:1.8rem;
		line-height: 1.6;
		color:black
	}
	.gameCard h3{
		font-size:3rem;
	}
	.gameCard img{
		object-fit: contain;
		width:50%;
		height:50%;
	}
	.gameInfo{
		display: flex;
		flex-direction: column;
	}

	@media (max-width:1150px) {
		.gamesList{
			width:80%;
			padding:1rem;
		}
		.gameCard{
			font-size: 1rem;
			width:90%;
		}
		.gameCard h3{
			font-size:1.6rem;
		}
		
	}

	@media (max-width:800px) {
		.gamesList{
			width:100%;
			padding:1rem;
		}
		.gameCard{
			font-size: 1rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.gameCard h3{
			font-size:1.6rem;
		}

		.gameCard img{
			width:100%;
		}
		
	}

	@media (max-width:600px) {
		.gamesList{
			width:100%;
		}
		.gameCard{
			width:100%;
			font-size: 1rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.gameCard h3{
			font-size:1.6rem;
		}

		.gameCard img{
			width:100%;
		}
		
	}
</style>