---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<h1>About <span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> Klnk</span></h1>
	<div class="content">
		Klnk is a website that I designed originally for a friends bachelor party. It's a collection of fun games you can play with friends on nights out. 
		<br><br>There are tons of simple games that can be incorporated into other games, or standalone games you can play. This site was also an excuse to test out a theory of mine about using the browser as a game engine, and evidently it works quite nicely. If you're interested in that, check out this blog post about how the games are developed <a href="https://kieranwood.ca/tech/blog/utf-8-games/" target="_blank" rel="noopener noreferrer">here</a>!
		<br><br>If you have a game you would like to contribute, check out the source code <a href="https://github.com/descent098/klnk" target="_blank" rel="noopener noreferrer">here</a>, and <a href="https://github.com/Descent098/klnk/wiki" target="_blank" rel="noopener noreferrer">the wiki</a> to contribute it!
		<br><br>Please always remember to drink responsibly when playing, and have fun! That is the whole point afterall!
		<br><br>If you're looking for the games, you can find them <a href="/games">here</a>!
	</div>
</Layout>

<style is:global>
	main{
		justify-content: flex-start !important;
		min-height: 80vh;
	}
</style>

<style>
	.content{

		max-width:120ch;
		padding:1rem;
		font-size:larger;
	}
</style>