---
import Layout from '../layouts/GameLayout.astro';
---

<Layout>
	<h1>About <span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> Klnk</span></h1>
	<div class="content">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque optio incidunt inventore dolore aliquid aliquam quos et cum adipisci consequuntur atque, pariatur animi unde, magni reiciendis fugiat, earum libero ratione!
		Ex mollitia officia debitis numquam vel exercitationem quae. Corrupti optio, dicta cupiditate repellat aut commodi dolores vero reiciendis dolorum aperiam adipisci iusto exercitationem! Expedita deserunt a quam impedit eligendi molestias?
		Id laborum eius praesentium. Amet dignissimos magni facilis voluptates, cum consequuntur a perferendis exercitationem nesciunt quos fugiat explicabo, ex ab, veniam odit alias impedit neque eligendi dolor ipsam quo. Ab.
		Quo vel, ullam expedita beatae in quos ipsam. Dolorem, nulla! Fugiat ex explicabo illo nisi, veniam ullam maxime ab doloremque enim culpa doloribus eum, fuga magnam quisquam dolorum? Soluta, illo!
		Atque delectus expedita incidunt deserunt itaque exercitationem aliquam saepe perferendis pariatur quis ducimus cupiditate aperiam veniam modi soluta, quasi sunt. Laboriosam ducimus quia veritatis asperiores, quas perspiciatis commodi error eius!
		Corporis, ipsum unde ducimus sit eligendi optio velit, delectus inventore odit libero nobis ullam suscipit odio impedit accusantium molestias debitis vero! Quasi blanditiis inventore sint libero tempore. Commodi, dolore aut.
		Doloribus expedita, itaque accusamus assumenda quas dignissimos laudantium quidem, repellendus ducimus asperiores similique enim vero velit. Atque sed, quasi reprehenderit soluta, iure suscipit consequuntur maxime nobis consequatur, eius tempora optio.
		Quos nulla temporibus, voluptate consequatur molestiae dolorum voluptatum consequuntur pariatur deleniti, quo hic reiciendis in sed perferendis velit aliquam consectetur dignissimos, ut autem nesciunt quis assumenda sapiente quisquam impedit! Cumque.
	</div>
</Layout>

<style is:global>
	main{
		justify-content: flex-start !important;
		min-height: 80vh;
	}
</style>

<style>
	.content{

		max-width:120ch;
		padding:1rem;
	}
</style>