---
import Layout from '../layouts/GameLayout.astro';
---

<Layout>
	<h1>Welcome to <span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> Klnk</span></h1>
	<div id="btnGroup">
		<a class="btn" href="/games">Our Games</a>
		<a class="btn secondary-btn" href="/about">About</a>
	</div>
</Layout>

<style>
	#btnGroup{
		padding: 1rem;
	}
</style>
