---

import Layout from '../layouts/SimpleLayout.astro';

---

<Layout>
    <h1><span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> Klnk </span>Terms of service</h1>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita incidunt porro asperiores! Facere blanditiis, odit quae quia doloremque voluptatem alias accusamus itaque vel quod eum amet minima voluptates. Quia, et?</span><span>Dicta, architecto quo deserunt perspiciatis illo iusto porro, animi iste at necessitatibus inventore? Laborum magni odio doloremque fugiat doloribus! Autem doloribus nesciunt voluptas aliquid iusto ex porro quas sequi dolorem!</span><span>Laboriosam deleniti laudantium molestiae tempore aspernatur commodi, voluptates fugit accusantium velit distinctio totam nam harum tempora debitis. Maxime culpa ratione animi optio doloremque cum dolorem inventore officiis. Nostrum, veniam quaerat.</span><span>Quaerat unde fugit magnam. Soluta, atque? Iusto quibusdam ducimus natus dignissimos? Corrupti quia tempore consequatur consequuntur illo commodi et odio voluptatem veniam! Dignissimos iusto magni non quod consequuntur, sunt doloribus?</span><span>Amet blanditiis sunt quas totam modi velit omnis, dolorum earum voluptatibus temporibus illo qui fugiat delectus nam odio nihil error non aperiam consequuntur? Minima, et? Incidunt quo distinctio quod quibusdam.</span><span>Ducimus assumenda a odio id quaerat aperiam excepturi voluptas esse sapiente recusandae repudiandae iusto, minima, vero numquam architecto impedit optio, labore inventore similique beatae nobis error quam fugit. Inventore, quasi.</span><span>Harum accusamus, voluptate id amet quia qui nihil, non quo delectus dignissimos rem. Modi necessitatibus ipsa totam commodi dolore, magnam ab deserunt numquam excepturi perferendis rem accusamus eaque. Vitae, laudantium.</span><span>Totam veritatis nemo, adipisci aspernatur modi impedit maiores reiciendis ad tempore laborum cumque porro sequi commodi voluptates beatae magnam nisi repellat iure excepturi fuga sunt. Dignissimos dicta rerum consectetur impedit.</span></p>
</Layout>

<style>
    #inlineLogo{
        font-family:'Indie Flower',cursive;
    }
</style>