---
import BaseLayout from "./BaseLayout.astro"

const { title } = Astro.props;

---
<BaseLayout onload="//@ts-nocheck">
    <div id="endGameNotice">
        <dialog id="endGameOutcome">
            <h2 style="text-decoration: underline;font-size-adjust: 110%;">You win</h2>
            <br>
            <button class="close" onclick="document.getElementById('endGameOutcome').close();body.style.overflow='auto';startGame()">Restart Game</button>
        </dialog>
    </div>
    <h1 id="mainLogoContainer"><span transition:name="inlineLogo" id="inlineLogo"><img src="/icon.png" alt="" srcset="" width="50px"> Klnk</span> { title }</h1>
    <div id="gameContent">
        <slot />
    </div>
    <div id="setupGame">
        <button id="startGame" onclick="document.getElementById('responsibleWarning').showModal()" style="cursor:pointer;">Start game</button>
        <div class="buttonGroup">
            <button class="secondary-btn" onclick="document.getElementById('instructions').showModal();body.style.overflow='hidden';">Instructions</button>
            <button class="secondary-btn" onclick="document.getElementById('settings').showModal();body.style.overflow='hidden';">Settings</button>
        </div>
        <dialog id="responsibleWarning">
            <h2 style="text-decoration: underline;font-size-adjust: 110%;">Warning</h2>
            <strong>Please note that we take no accountability for what you choose to use this game for. </strong>
            <br>
            <strong>Please drink responsibly, and never drive after drinking!</strong>
            <br>
            <button class="close" onclick="document.getElementById('responsibleWarning').close();body.style.overflow='auto';startGame()">I understand</button>
        </dialog>
        <dialog id="instructions">
            <h2 style="text-decoration: underline;font-size-adjust: 110%;">Instructions</h2>
            <slot name="instructions" />
            <button class="close" onclick="document.getElementById('instructions').close();body.style.overflow='auto';">Close</button>
        </dialog>
        <dialog id="settings">
            <h2 style="text-decoration: underline;font-size-adjust: 110%;">Settings</h2>
            <slot name="settings" />
            <button class="close" onclick="document.getElementById('settings').close();body.style.overflow='auto';">Close</button>
        </dialog>
    </div>
    
	
</BaseLayout>

<style is:global>
	button{
		transition: opacity 1s ease-out;
    }
    .buttonGroup{
        display: flex;
        gap:1rem;
    }
    .drinks{
        font-family: cursive, sans-serif;
    }
    #gameContent{
        display:none;
        opacity:0;
        padding-top:15vh;
        transition: opacity 2s ease-in-out;
    }
	#setupGame{
        position: absolute;
        inset:0;
        z-index:1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    #mainLogoContainer{
        padding:.5rem;
        transition: all 0.6s ease;
        position: absolute;
        top: 30vh;
    }
    #responsibleWarning{
        margin: 10vh auto;
        padding: 1.2rem;
        line-height: 1.8;
        text-align: center;
        width:120ch;
        border-radius:1.1rem;
    }

	#instructions,
    #settings,
    #endGameOutcome
    {
        margin: 10vh auto;
        padding: 1.2rem;
        line-height: 1.8;
        text-align: center;
        width:120ch;
        height: 90vh;
        border-radius:1.1rem;
        background: #f0f0f0;
    }
    #instructions h2,
    #instructions h3{
        padding-top: 1.1rem;
    }
    #instructions .close,
    #settings .close,
    #responsibleWarning .close,
    #endGameOutcome .close{
        margin-bottom:2rem;
        padding: .5rem;
        cursor:pointer;
    }

    #settings fieldset{
        border:none;
        padding:.3rem;
    }

    #settings select{
        border-radius: 1.1rem;
        font-family: cursive;
        font-weight: 400;
    }

    #endGameNotice{
        position:absolute;
        inset:0;
        text-align: center;
        z-index:100;
        display:none;
        top: 20%;
        left: 15%;
        align-items: center;
        width: 70vw;
        padding:1rem;
        border-radius: 1.1rem;
        height:60vh;
    }

    #endGameOutcome{
        height:40vh;
        font-size:1.3rem;
    }

    @media (max-width:500px) {
        #mainLogoContainer{
            top:15vh;
        }
        
    }

    
</style>
